button {
    border: 0;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border-left: 5px solid #73397a;
    background-color: transparent;
    margin-bottom: 5px;
}

button:hover {
    cursor: pointer;
    background-color: #bf86c6
}

.arrow {
    height: 12px;
    display: inline;
    margin-left: 5px;
}
.icons{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);  
  color: rgb(49, 48, 48);  
}