button {
    border: none;
    background-color: transparent;
    text-align: left;    
    text-decoration: none;
    /* display: inline-block; */
    border-radius: 8px;   
    /* border-left: 5px solid #73397a; */
 
    margin-bottom: 5px;
    width: 200px;
}

button:hover{
    cursor: pointer;
    background-color: #a483ae
}

.catBtn div {
    padding-top: 8px;
}
.catBtn {
    /* border: 2px solid #694D75; */
    background-color: #A483A4;
    text-align: center;    
    text-decoration: none;
    /* display: inline-block; */
    border-radius: 8px;   
    /* border-left: 5px solid #73397a; */ 
    margin-bottom: 5px;
    width: 200px;
} 

.catBtn:hover {
    cursor: pointer;
    background-color: #855e91
}

.arrow {
    height: 12px;
    display: inline;
    margin-left: 5px;
}

.icons{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 4px 20px 0 rgba(0, 0, 0, 0.19);  
    color: rgb(49, 48, 48);  
}