  
  /* Add styles to the form container */
  .form-container { 

    bottom: 0;   
    width: 380px;
    height: 520px;
    position: fixed;   
    right: 65px;
    bottom: 75px;
    padding: 0;    
    background-color:white;   
    border-radius: 13px 13px 0px 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

   /* title, do something */

   .popup-header{    
    background-color: #73397a;
    width: 100%;   
    height: 55px;
    border-radius: 13px 13px 0px 0px;
  }
  
  .popup-header-box {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
   }

  .popup-header-title{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
  }

  .popup-header-description{    
    color: white;
    font-size: 10px;
  }

  .popup-header button{
    background-color: #643c69;
    border: 1px;
    color: white;   
    height: 35px;
    width: 35px;     
    text-align: center;    
    padding: 0px 10px;
    float: right;
    margin: 5px 1px;
    border-radius: 50%;
  }
  .popup-header button:hover{
    background-color: #a367a9;
  } 
  .popup-footer{  
    background-color: #b1abb1;  
    /* background-color: #9b899f;     */
    width: 290px;  
    position: fixed;
    bottom: 0px;         
  }
  .popup-footer input{
    height: 60%;
    width: 224px;
    margin:10px;  
    float: left;
    border: none;
    border-radius:6px;
  }
  /* .bot-icon{
    height: 110%;
    width: auto;
    float: left;   
    margin: 5px 5px 10px 10px; 
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border: 2px solid white;
  } */
  .bot-icon{
    height: 80%;
    width: 47px;
    float: left;   
    margin: 5px 5px 10px 10px; 
    /* border-radius: 50%; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19); */
     /* border: 2px solid white; */
  }

  .send-icon{
    height: 55%;
    width: auto;
    float: right;
    margin: 12px 10px 10px auto; 
       
  }

  .shortcut-bot-icon{    
    position: fixed;
    bottom: 23px;
    right: 35px;
    width: 70px;
    height: 70px;    
    border-radius: 50%;   
    opacity: 0.8; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
  .popup-back-image{
    height: 60px;
    width: auto;
    float: left;
    margin: 20px auto auto 54px ; 
    border-radius: 50%;
    opacity: 0.4;
    
  }
  .popup-backgroud-text{
    height: 70px;
    color: rgb(118, 113, 113);   
    float: right;
    margin: 40px 54px auto auto ;   
    opacity: 0.4;
    
  } 
  .setting-icon{
    height: 15px;
    width: 15px;
    float: left;   
   
  } 
  
  .reload-icon {
    height: 15px;
    width: 15px;
    float: left;
  }