 /* Add styles to the setting container */
 .settings-container {
    position: fixed; 
    top: 157px;       
    width: 150px;
    height: auto; 
    font-weight:400;
    right: 65px; 
    padding: 0;    
    background-color: #73397a;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  .setting-option{
    max-width: 100%;   
    background-color: #643c69;     
    margin: 3px 3px;
    border-radius: 2px;
    padding: 7px 4px;
    color: white;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(55, 54, 54);
  }
  .setting-option:hover{
    background-color: #a367a9;
  }
  .setting-option select{
    float: right;    
    font-size: 12px;
    width: 65px;
    
  }
  
  .flags{   
    width: 20px;
    height: 14px;
    border: 1px solid white;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 5px;
  }
